extends layout

block content
    div(class='col-md-6 col-md-offset-3')
        div(class='panel panel-default')
            div(class='panel-heading')
                h3(class='panel-title') Login
            div(class='panel-body')
                p.
                    Please login below using your spotify account in order to 
                    create some killer playlists.
                a(class='btn btn-sm btn-block btn-green', href='/auth/spotify') LOG IN TO SPOTIFY 